<div ng-controler="EditStatusCtrl">
    <div class="jumbotron text-center">
      <h1>Edit status of {{ status.name }}</h1>
    </div>

    <div class="bs-example bs-example-bg-classes" ng-if='updated && type' >
      <div class="alert alert-{{type}} alert-block" ng-if="type=='success'">
        <span class="alert-text">
          <strong>Created upaded witch success</strong>
        </span>
      </div>

      <div class="alert alert-{{type}} alert-block"  ng-if="type!='success'">
        <span class="alert-text">
          <strong>There was an error in the form</strong>
        </span>
      </div>
    </div>

    <form>

      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="name" class="form-control" placeholder="Enter Name" ng-model='status.name'>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Url</label>
        <input type="url" class="form-control" placeholder="enter Url"  ng-model='status.url'>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Protocol</label>
        <input type="protocol" class="form-control" placeholder="Enter Protocol" ng-model='status.protocol'>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Type</label>
        <select class="form-control input-lg" ng-model='status.type'>
           <option value="auto">Auto</option>
           <option value="manual">Manuel</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Verb</label>
        <select class="form-control input-lg" ng-model='status.verb'>
           <option value="GET">GET</option>
           <option value="POST">POST</option>
        </select>
      </div>

      <div class="form-group" ng-show="status.verb != 'GET'">
        <label for="exampleInputPassword1">Params</label>
        <textarea class="form-control" rows="3" placeholder="Enter Params" ng-model='status.params'></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Visibility</label>
        <select class="form-control input-lg" ng-model='status.visibility'>
           <option value="public">Public</option>
           <option value="private">Private</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control" rows="3" placeholder="Enter Description" ng-model='status.description'></textarea>
      </div>

      <div class="form-group">
        <label >Expected response</label>
        <textarea class="form-control" rows="3" placeholder="Enter Expected response" ng-model='status.expected_response'></textarea>
      </div>

      <input type="submit" class="btn btn-info btn-full-width" ng-click='update(status)' value="Update" >
    </form>
    <hr>
</div>
