
<div ng-controler="EditStatusCtrl">

    <div class="jumbotron text-center">
      <h1>Create a new Status</h1>
    </div>

    <div class="bs-example bs-example-bg-classes" ng-if='updated && type' >
      <div class="alert alert-{{type}} alert-block" ng-if="type=='success'">
        <span class="alert-text">
          <strong>Created upaded witch success</strong>
        </span>
      </div>

      <div class="alert alert-{{type}} alert-block"  ng-if="type!='success'">
        <span class="alert-text">
          <strong>There was an error in the form</strong>
        </span>
      </div>
    </div>

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control"  placeholder="Enter Name" ng-model='status.name' ng-required=true>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Url</label>
        <input type="text" class="form-control"  placeholder="Enter Name" ng-model='status.url' ng-required=true>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Protocol</label>
        <input type="text" class="form-control" placeholder="Enter Protocol" ng-model='status.protocol' ng-required=true>
      </div>

      <div class="form-group" >
        <label for="exampleInputPassword1">Type</label>
        <select class="form-control input-lg" ng-model="status.type">
           <option value="auto">Auto</option>
           <option value="manual">Manuel</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Verb</label>
        <select class="form-control input-lg" ng-model='status.verb'>
           <option value="GET">GET</option>
           <option value="POST">POST</option>
        </select>
      </div>

      <div class="form-group" ng-show="status.verb != 'GET'">
        <label for="exampleInputPassword1">Params</label>
        <textarea class="form-control" rows="3" placeholder="Enter Params" ng-model='status.params'></textarea>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control" rows="3" placeholder="Enter Description" ng-model='status.description'></textarea>
      </div>

      <div class="form-group">
        <label >Expected response</label>
        <textarea class="form-control" rows="3" placeholder="Enter Expected response" ng-model='status.expected_response'></textarea>
      </div>


      <input type="submit" class="btn btn-info btn-full-width" ng-click='save()' value="Create" >
    </form>

</div>
