[Unit]
Description="Sentinel api"
after=mongodb@%i.service

[Service]
ExecStartPre=-/usr/bin/docker kill sentinel-api
ExecStartPre=-/usr/bin/docker rm sentinel-api
ExecStartPre=-/bin/bash -c "mkdir -p /srv/.sentinel-api"
ExecStartPre=-/usr/bin/docker pull numidiasoft/sentinel-api
ExecStart=/usr/bin/docker run --rm --name sentinel-api -v  /home/core/share/sentinel/api/:/app -v /srv/.sentinel-api:/.bundle --link mongodb:mongodb -p 9292:9292 numidiasoft/sentinel-api
ExecStop=/usr/bin/docker stop sentinel-api

[X-Fleet]
Conflicts=sentinel-api@%i.service
MachineOf=mongodb@%i.service
