[Unit]
Description="Sentinel front"

[Service]
ExecStartPre=-/usr/bin/docker kill sentinel-front
ExecStartPre=-/usr/bin/docker rm sentinel-front
ExecStartPre=-/bin/bash -c "mkdir -p /srv/node_modules"
ExecStartPre=-/bin/bash -c "mkdir -p /srv/bower_components"
ExecStartPre=-/usr/bin/docker pull numidiasoft/sentinel-front
ExecStart=/usr/bin/docker run --rm --name sentinel-front -v /home/core//share/sentinel/front:/app -v /srv/node_modules:/app/node_modules -v /srv/bower_components:/app/bower_components --link sentinel-api:sentinel -p 3000:3000 -p  3001:3001 numidiasoft/sentinel-front
ExecStop=/usr/bin/docker stop sentinel-front

[X-Fleet]
Conflicts=sentinel-front@%i.service
MachineOf=sentinel-api@%i.service
