// Default button
.btn {
  padding: 0 2rem;
  display: inline-block;
  vertical-align: middle;
  height: 4rem;
  white-space: nowrap;
  font-size: 1.4rem;
  font-family: 'Open Sans', Arial, Sans-serif;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  color: $text-body;
  background-color: #fff;
  border: 1px solid $border;
  border-radius: 3px;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  user-select: none;
  cursor: pointer;
  transition: .2s background-color ease-out, .2s border-color ease-out;

  &:hover {
    background-color: $background-lighter;
    border-color: darken($border, 5%);
  }

  &:focus {
    background-color: darken($background-lighter, 3%);
    border-color: darken($border, 10%);
  }

  &:active {
    background-color: darken($background-lighter, 5%);
    border-color: darken($background-lighter, 5%);
  }

  &[disabled] {
    opacity: .4;
    background-color: #fff;
    border: 1px solid $border;
  }

  &.is-loading-more {
    opacity: 1;
  }

  .tg-avatar {
    margin-right: 1rem;

    .rtl & {
      margin-right: 0;
      margin-left: 1rem;
    }
  }

  span {
    float: none;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

  span + .icon {
    margin-left: 1rem;

    .rtl & {
      margin-left: 0;
      margin-right: 1rem;
    }
  }

  .icon + span {
    margin-left: 1rem;

    .rtl & {
      margin-left: 0;
      margin-right: 1rem;
    }
  }
}

// Different sizes
.btn-xs {
  height: 3rem;
}

.btn-sm {
  height: 3.5rem;
}

.btn-lg {
  height: 5rem;
}

.btn-block {
display: block;
width: 100%;
}

.btn-full-width {
  width: 100%;
}

// Success
.btn-success {
  color: #fff;
  background-color: $flat-success;
  border: 1px solid $flat-success;

  &:hover {
    background-color: darken($flat-success, 7%);
    border-color: darken($flat-success, 7%);
  }

  &:focus {
    background-color: darken($flat-success, 7%);
    border-color: darken($flat-success, 20%);
  }

  &:active {
    color: #fff;
    border: 1px solid darken($flat-success, 15%);
    background-color: darken($flat-success, 15%);
  }

  &[disabled] {
    background-color: $flat-success;
    border: 1px solid $flat-success;
  }
}

// Info
.btn-info {
  color: #fff;
  background-color: $flat-info;
  border: 1px solid $flat-info;

  &:hover {
    background-color: darken($flat-info, 7%);
    border-color: darken($flat-info, 7%);
  }

  &:focus {
    background-color: darken($flat-info, 7%);
    border-color: darken($flat-info, 20%);
  }

  &:active {
    color: #fff;
    border: 1px solid darken($flat-info, 15%);
    background-color: darken($flat-info, 15%);
  }

  &[disabled] {
    background-color: $flat-info;
    border: 1px solid $flat-info;
  }
}

// Danger
.btn-danger {
  color: #fff;
  background-color: $flat-error;
  border: 1px solid $flat-error;

  &:hover {
    background-color: darken($flat-error, 7%);
    border-color: darken($flat-error, 7%);
  }

  &:focus {
    background-color: darken($flat-error, 7%);
    border-color: darken($flat-error, 20%);
  }

  &:active {
    color: #fff;
    border: 1px solid darken($flat-error, 15%);
    background-color: darken($flat-error, 15%);
  }

  &[disabled] {
    background-color: $flat-error;
    border: 1px solid $flat-error;
  }
}

// Secondary
.btn-secondary {
  color: #fff;
  background-color: $flat-secondary;
  border: 1px solid $flat-secondary;

  &:hover {
    background-color: darken($flat-secondary, 7%);
    border-color: darken($flat-secondary, 7%);
  }

  &:focus {
    background-color: darken($flat-secondary, 7%);
    border-color: darken($flat-secondary, 20%);
  }

  &:active {
    color: #fff;
    border: 1px solid darken($flat-secondary, 15%);
    background-color: darken($flat-secondary, 15%);
  }

  &[disabled] {
    background-color: $flat-secondary;
    border: 1px solid $flat-secondary;
  }
}

// Btn loading
.btn-success, .btn-info, .btn-danger, .btn-secondary {
  .tg-loader .dot {
    background: url("/images/loading/loading-darktheme.svg") 0 0 no-repeat;
    background-size: 100%;
  }
}

// Btn delete
.tg-btn-delete-rounded {
  padding: 0;
  vertical-align: middle;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: $background;
  border: none;
  border-radius: 50%;
  text-align: center;

  &:hover, &:focus, &:active {
    background-color: darken($background, 10%);
  }

  .icon {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0;
  }
}

// Btn group
.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

// Btn icon
.tg-btn-icon {
  padding: 0;
  width: 4rem;
}

// "Ghost" button with a white border
.btn-ghost {
  border: 1px solid #fff;

  &:hover, &:focus {
    border: 1px solid #fff;
  }
}
