.credit-card-billing {
  padding: 9rem 2rem 2rem;
  display: inline-block;
  min-width: 26.9rem;
  min-height: 16rem;
  font-family: Courier, monospace;
  color: #fff;
  background: #7a9bf8 url(/images/credit-card-billing.svg) 0 0 no-repeat;
  border-radius: 8px;
}
