.info-badge {
  padding: .5rem 1rem;
  display: inline-block;
  font-size: 1.3rem;
  line-height: 1;
  color: #fff;
  background: #f3d567;
  border-radius: 20px;

  &:before {
    content: '\e618';
    margin-right: .5rem;
    font-family: tg-icons;

    .rtl & {
      margin-right: 0;
      margin-left: .5rem;
    }
  }
}
