// 1. Backgrounds
$background-lighter: #F5F7FA;
$background-light: #EBEFF5;
$background: #8592A6;
$background-dark: #343B45;
$background-highlight: #FFF69E;

// 2. Text colors
$text-title: #47505E;
$text-body: #69778C;
$text-body-light: #99a7be;
$text-placeholder: #BFCCE0;
$text-link: #5CB0E6;
$text-info: #A9B5C7;

// 3. Border colors

$border: #D8E0EB;

// 4. Flat blocks
$flat-alert: #F55500;
$flat-info: #5CB0E6;
$flat-success: #51C47D;
$flat-warning: #FF9D32;
$flat-error: #E2474A; 
$flat-secondary: #A293BA;
$blue-sleek: #415fd9;
$blue-sleek-light: #7b9cf8;

// 5. Social networks
$social-facebook: #3b5998;
$social-twitter: #69CFF9;
$social-youtube: #EC3E00;
$social-instagram: #3F729B;

// 6. Misc colors
$grey-inactive: #D5DBE4;

