---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1432811393'
      Last-Modified:
      - Sun, 15 Dec 2013 19:21:11 GMT
      Etag:
      - W/"c69df667ef47cd42cfc17fdf24e0d570"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"login":"100","id":369826,"avatar_url":"https://avatars.githubusercontent.com/u/369826?v=3","gravatar_id":"","url":"https://api.github.com/users/100","html_url":"https://github.com/100","followers_url":"https://api.github.com/users/100/followers","following_url":"https://api.github.com/users/100/following{/other_user}","gists_url":"https://api.github.com/users/100/gists{/gist_id}","starred_url":"https://api.github.com/users/100/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/100/subscriptions","organizations_url":"https://api.github.com/users/100/orgs","repos_url":"https://api.github.com/users/100/repos","events_url":"https://api.github.com/users/100/events{/privacy}","received_events_url":"https://api.github.com/users/100/received_events","type":"User","site_admin":false,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2010-08-19T15:52:44Z","updated_at":"2013-12-15T19:21:11Z"}'
  recorded_at: Thu, 28 May 2015 10:09:53 GMT
- request:
    method: post
    uri: http://192.168.99.100:8086/write?db=sentinel_test&p=root&precision=s&u=root
    body:
      encoding: UTF-8
      string: status status=200.0,date="2015-10-09T13:41:22Z",check_id="5617c4023936630357000001"
        1444398082
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Influxdb-Version:
      - 0.9.4.1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Oct 2015 13:41:22 GMT
- request:
    method: post
    uri: http://192.168.99.100:8086/write?db=sentinel_test&p=root&precision=s&u=root
    body:
      encoding: UTF-8
      string: response_time response_time=6.19,date="2015-10-09T13:41:22Z",check_id="5617c4023936630357000001"
        1444398082
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Influxdb-Version:
      - 0.9.4.1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 09 Oct 2015 13:41:22 GMT
recorded_with: VCR 2.9.3
