<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ng-if="userService.domain" class="navbar-brand" ui-sref="admin.statusList" ui-sref-opts="{reload: true}">
        <span class="glyphicon glyphicon-home"></span> Sentinel
      </a>
      <a ng-if="!userService.domain" class="navbar-brand" ui-sref="statuses.list({id: domain})">
        <span class="glyphicon glyphicon-home"></span> Sentinel
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl">
      <li ng-if="userService.connected"><a href ng-click="signout()" >Signout({{userService.domain}})</a></li>
      <li ng-if="!userService.connected"><a href ui-sref="signin" >Sigin</a></li>
    </ul>
  </div>
</nav>
